/* Mobile device */
@media screen and (max-width: 576px) {
  .navbar {
    flex-wrap: nowrap;
  }
  .header {
    flex-direction: column-reverse;
    gap: 1rem;
    margin: 1 0;
    text-align: center;
  }
  .half-width img {
    width: 100%;
  }

  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
  }
  .grid-items {
    margin: 2rem 0 1.5rem;

    grid-template-columns: 1fr;

    grid-row-gap: 1rem;
  }
  .item .grid-img img {
    max-width: 100%;
  }
  .item {
    text-align: center;
  }
  .right-link .link {
    /* position: absolute; */
    transform: translateX(1.5rem);
    /* margin-left: 62.5rem; */
    padding: 0 0.8rem;
    background-color: white;
    color: var(--link-color);
  }
  .item {
    width: 100%;

    /* gap: 1rem; */
    box-shadow: 4px 4px 10px wheat;

    padding: 1rem 0;
  }
  .products {
    flex-direction: column;

    text-align: center;

    margin: 2rem 0;
  }
}
