/* Mobile device */
@media screen and (max-width: 576px) {
  .navbar {
    flex-wrap: nowrap;
  }
  .header {
    flex-direction: column-reverse;
    gap: 1rem;
    margin: 1rem 0;
  }
  .logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  .grid-items {
    margin: 2rem 2rem 0.5rem;

    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }
  .products {
    flex-direction: column;

    text-align: center;

    margin: 2rem 0;
  }
}
